<div class="container m-2">
  <h1 class="h1 text-center">Write The Post</h1>
  <!-- write POST form -->
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Title of Post</label
    >
    <input type="email" class="form-control" id="exampleFormControlInput1" />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Write Your Post Here</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
    <br />
    <div class="text-center">
      <button type="button" class="btn btn-success text-center" id="btnSubmit">
        Submit Post
      </button>
    </div>
  </div>
</div>

<script src="../app/write-post.js"></script>
